<html>
	<head>
		<title>Ellen's Hangman</title>
	</head>
	<body>
			<form action='/new/'>
				<p>Choose one: Easy, Medium, or Difficult</p>
				<input class='level' type='text' name='level' />
				<input class='play' type='submit' value='Play' />
		</form>
	</bodY>
</html>
