<html>
	<head>
		<title>Ellen's Hangman</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	</head>

	<body>
		<div class="center" style="text-align: center; margin: auto auto;">
				<h1 style="text-align: center;"><%= message %></h1>

				<form action="/" method="get">
					<button class="button-primary">Play Again</button>
				</form>
		</div>
	</body>
</html>