<html>
	<head>
		<title>Ellen's Hangman</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

		<style>
			h1 {
				text-align: center;
			}
			.error {
				color: red;
			}
		</style>
	</head>
	<body>
		<div class="center" style="text-align: center; margin: auto auto;">
			<h1>Play Hangman!</h1>
			<form action='/' method="post">
				<h3>Choose a level: Easy, Medium, or Difficult</h3>
				<p class="error"><%= enter_level %></p>
				<input class='level' placeholder="Easy, Medium, or Difficult" type='text' name='level' autofocus/>
				<button class="button-primary">Play</button>
			</form>
		</div>
	</bodY>
</html>
