<html>
	<head>
		<title>Ellen's Hangman</title>
		<style>
			h1 {
				text-align: center;
			}
		</style>
	</head>
	<body>
			<form action='/' method="post">
				<h1>Choose one: Easy, Medium, or Difficult</h1>
				<input class='level' type='text' name='level' />
				<input class='play' type='submit' value='Play' />
		</form>
	</bodY>
</html>
