<html>
	<head>
		<title>Ellen's Hangman</title>
	</head>

	<body>
		<form>
			<h1>WORD: 
			<% word_length.times do %>
					<%= dash %>
			<% end %>
			</h1>
			<p>Guess a letter</p>
			<input class='guess' type='text' name='guess' />
			<input class='submit' type='submit' value='Guess' />
		</form>
		<p>The word is <%= @@word %></p>
		<p>Turns left: <%= turns %></p>
		<p><%= message %></p>
		<form action="/" method="get">
		<input type="submit" value="Play Again" class="again">
	</form>
	</body>

</html>